.form {
  display: flex;
  flex-direction: column;

  @include font(16px, 18px, 400);
  font-family: $font-secondary;
  text-transform: uppercase;
}

.form__group {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  border: none;

  &--no-title {
    margin-bottom: 24px;
  }

  &--bordered {
    margin-left: -$padding-mobile;
    margin-right: -$padding-mobile;
    padding: 20px $padding-mobile;


    border-top: 1px solid $color-gray-217;
    border-bottom: 1px solid $color-gray-217;
  }

  &:nth-last-child(2) {
    margin-bottom: 0;
  }
}

.form__title {
  margin-bottom: 33px;
}

.form__fields-list {
  display: flex;
  flex-direction: column;
}

.form__labeled-field {
  position: relative;

  display: flex;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.form__field-name {
  flex-shrink: 0;

  margin-right: 15px;
  max-width: 40%;

  &--icon {
    margin-right: 10px;
  }
}

.form__input {
  flex-grow: 1;

  padding: 14px 15px 13px;
  height: 45px;

  background-color: transparent;
  border: none;
  box-shadow: inset 0 0 0 1px $color-gray-231;

  font: inherit;
  text-transform: inherit;
  color: inherit;

  &:hover {
    box-shadow: inset 0 0 0 1px $color-gray-205;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $color-gray-68;
    outline: none;
  }

  &--icon {
    padding-right: 45px;

    &:focus {
      + .form__icon {
        fill: $color-main;
        background-color: $color-main;
      }
    }
  }

  &--textarea {
    padding: 14px 12px 14px 15px;
    min-height: 150px;
    resize: vertical;
  }

  &--invalid {
    box-shadow: inset 0 0 0 2px $color-error;

    &:hover {
      box-shadow: inset 0 0 0 1px $color-gray-205,
        inset 0 0 0 3px $color-error;
    }

    &:focus {
      box-shadow: inset 0 0 0 2px $color-gray-68;
      outline: none;
    }

    + .form__icon {
      fill: $color-error;
      background-color: $color-error;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 15px;

  fill: $color-gray-34;
  background-color: $color-gray-34;

  transform: translateY(-50%);
}

.form__options-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $color-gray-34;
}

.form__options-item {
  &:not(:last-of-type) {
    margin-bottom: 13px;
  }

  &:hover {
    > .form__option {
      &::before {
        border-color: $color-gray-186;
      }
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.form__option {
  position: relative;

  display: inline-block;
  padding: 6px 0 6px 45px;

  user-select: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;
    content: "";

    border: 1px solid $color-gray-205;
  }

  &--radio {
    &::before {
      border-radius: 50%;
    }
  }
}

.form__control {
  &:checked {
    + .form__option {
      &::after {
        position: absolute;
        content: "";
      }

      &--radio {
        &::after {
          top: 8px;
          left: 8px;

          width: 14px;
          height: 14px;

          border-radius: 50%;
          background-color: $color-main;
        }
      }

      &--checkbox {
        &::after {
          top: 8px;
          left: 7px;

          width: 16px;
          height: 10px;

          border-left: 2px solid $color-main;
          border-bottom: 2px solid $color-main;

          transform: rotate(-45deg);
        }
      }
    }
  }

  &:disabled {
    + .form__option {
      opacity: 0.5;
    }
  }

  &:focus {
    + .form__option {
      &::before {
        border-color: $color-gray-186;
      }
    }
  }
}

.form__submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  margin-top: 34px;
}

.form__submit-btn {
  margin-bottom: 21px;
}

.form__remark {
  font-family: $font-main;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .form {
    font-size: 20px;
    line-height: 30px;
  }

  .form__group {
    margin-bottom: 65px;

    &--no-title {
      margin-bottom: 74px;
    }

    &--bordered {
      margin-left: 0;
      margin-right: 0;
      padding: 25px 28px;


      border: 1px solid $color-gray-231;
    }
  }

  .form__title {
    margin-bottom: 75px;

    &--small-margin {
      margin-bottom: 56px;
    }
  }

  .form__labeled-field {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  .form__field-name {
    margin-right: 18px;

    &--icon {
      margin-right: 18px;
    }
  }

  .form__input {
    padding: 10px 20px 11px;
    height: 52px;

    &--icon {
      padding-right: 50px;
    }

    &--textarea {
      padding: 10px 20px;
      min-height: 174px;
    }
  }

  .form__options-list {
    &--col {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      column-gap: 64px;
      row-gap: 32px;

      .form__options-item {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  .form__option {
    padding: 5px 0 5px 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  .form__control {
    &:checked {
      + .form__option {
        &--radio {
          &::after {
            top: 11px;
            left: 11px;

            width: 18px;
            height: 18px;
          }
        }

        &--checkbox {
          &::after {
            top: 13px;
            left: 12px;
          }
        }
      }
    }
  }

  .form__submit {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 54px;
  }

  .form__submit-btn {
    margin-bottom: 0;
    width: calc(50% - 30px);
  }

  .form__remark {
    width: calc(50% - 30px);

    font-size: 16px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .form__title {
    margin-left: -38px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group {
    margin-bottom: 68px;
    width: 100%;

    &--no-title {
      margin-bottom: 68px;
    }

    &--half {
      width: calc(50% - 40px);
    }
  }

  .form__fields-list {
    &--col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      row-gap: 20px;

      .form__labeled-field {
        &:not(:last-of-type) {
          margin-bottom: 0;
        }
      }
    }
  }

  .form__options-list {
    &--col {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 80px;
    }
  }

  .form__submit {
    margin-top: 61px;
    width: 100%;
  }

  .form__submit-btn {
    width: calc(50% - 40px);
  }

  .form__remark {
    width: calc(50% - 40px);
  }
}
