.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

  display: none;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background-color: $color-modal-overlay;
}

.modal-overlay--show {
  display: flex;
}
