.contacts {
  background-color: $color-gray-242;
}

.contacts__info {
  &--index {
    background-color: $color-white;
  }
}

.contacts__info-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 28px 0 26px;
}

.contacts__intro {
  margin: 0;
  padding-right: 15px;
  width: 50%;

  @include font(16px, 20px, 400);
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $color-gray-17;
}

.contacts__address {
  margin: 0;
  width: 50%;

  line-height: 20px;
  font-style: normal;
}

.contacts__map {
  position: relative;

  width: 100%;
  height: 362px;

  background-color: $color-map-background;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 62px;
    height: 53px;
    content: "";

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: contain;

    transform: translate(-50%, -50%);
  }
}

@media (min-width: $tablet-width) {
  .contacts__info-wrapper {
    justify-content: space-between;

    padding: 65px 42px 57px;
  }

  .contacts__intro {
    padding-right: 0;
    width: 180px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    width: 168px;

    text-align: right;
  }

  .contacts__address-city {
    display: block;
    margin-top: 19px;
  }

  .contacts__map {
    height: 400px;

    background-image: url("../img/bg-map-tablet@1x.png");

    @media #{$retina} {
      background-image: url("../img/bg-map-tablet@2x.png");
    }

    &::before {
      width: 124px;
      height: 106px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    padding: 95px 0;
    min-height: 400px;
  }

  .contacts__info-wrapper {
    position: relative;
    z-index: 10;

    padding-right: 76px;
    padding-left: 76px;
    width: 570px;

    background-color: $color-white;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    background-image: url("../img/bg-map-desktop@1x.png");

    @media #{$retina} {
      background-image: url("../img/bg-map-desktop@2x.png");
    }

    &::before {
      left: auto;
      right: calc(250px + (100vw - #{$desktop-width}) / 2);
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $layout-width) {
  .contacts__map {
    &::before {
      right: calc(320px + (100vw - #{$layout-width}) / 3.6);
    }
  }
}
