.copyright__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: inherit;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    .copyright__logo {
      fill: $color-main;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include font(16px, 18px, 400);
}

.copyright__logo {
  fill: $color-gray-102;

  transition: fill 0.3s, opacity 0.3s;
}
