.example {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: $color-gray-234;
}

.example__title {
  margin-bottom: 34px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
}

.example__stats {
  margin-bottom: 42px;
}

.example__slider {
  margin-left: -$padding-mobile;
  margin-right: -$padding-mobile;
}

.example__slider-img-lower {
  top: -8px;
  left: 0;
}

.example__slider-img-upper {
  top: 2px;
  right: 6px;
}
