.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0 $padding-mobile 24px;

  @include font(12px, 16px, 400);

  border-top: 1px solid $color-gray-235;
  border-bottom: 1px solid $color-gray-235;

  &--show-more {
    flex-direction: column;
    align-items: center;
  }
}

.product__photo {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 144px;
}

.product__photo-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__info {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}

.product__title {
  margin-top: 0;
  margin-bottom: 14px;
  max-width: 100px;

  @include font(16px, 20px, 400);
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $color-gray-34;

  &--show-more {
    position: relative;

    margin-bottom: 8px;
    padding-top: 80px;
    max-width: none;

    text-align: center;
    color: $color-gray-17;

    &::before {
      position: absolute;
      top: 25px;
      left: 50%;

      display: block;
      width: 30px;
      height: 30px;
      content: "";

      background-image: url("../img/plus-mobile.svg");

      transform: translateX(-50%);
    }
  }
}

.product__title-link {
  color: inherit;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__lead {
  margin: 0;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.product__btn {
  width: 100%;
}

.product__parameters {
  width: 100%;

  border-collapse: collapse;
}

.product__field {
  padding: 0;
  padding-right: 10px;
  width: 55%;

  vertical-align: top;
}

.product__value {
  padding: 0;
  width: 45%;

  text-align: right;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    align-items: center;

    padding: 0 $product-padding-tablet 40px;

    font-size: 16px;

    border: none;

    background-image: linear-gradient(to bottom, transparent 80px, $color-gray-242 80px);

    &--show-more {
      padding: 0 ($product-padding-tablet - 2px) 38px;

      border: 2px solid $color-gray-242;

      background: none;
    }
  }

  .product__photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin: 0 (-$product-padding-tablet) 35px;
    width: 324px;
    height: 208px;

    &--small {
      padding-top: 36px;
    }
  }

  .product__info {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .product__title {
    margin: 0 auto 12px;
    max-width: 150px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    &--show-more {
      margin-bottom: 23px;
      padding-top: 160px;

      line-height: 22px;

      &::before {
        top: 50px;

        width: 60px;
        height: 60px;

        background-image: url("../img/plus.svg");
      }
    }
  }

  .product__lead {
    margin-bottom: 25px;
    width: 169px;

    font-size: 16px;
    line-height: 18px;
  }

  .product__parameters {
    margin-bottom: 32px;
  }

  .product__parameter {
    border-bottom: 1px solid $color-gray-205;
  }

  .product__field,
  .product__value {
    padding: 7px 0 8px;
  }

  .product__btn {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .product__photo {
    width: 245px;
  }

  .product__title {
    margin-bottom: 18px;

    line-height: 21px;
  }
}
