.program {
  padding: 30px 20px 20px;
  background-color: $color-gray-242;

  &--slim {
    .program__title {
      &::after {
        top: -9px;
        left: 9px;

        width: 36px;
        height: 50px;

        background-image: url("../img/cat-slim.svg");
      }
    }
  }

  &--pro {
    .program__title {
      &::after {
        top: 5px;
        left: -7px;

        width: 67px;
        height: 28px;

        background-image: url("../img/cat-pro.svg");
      }
    }
  }
}

.program__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-left: 70px;

  @include font(24px, 37px, 400);
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $color-black;

  &::before {
    position: absolute;
    top: -6px;
    left: 2px;

    display: block;
    width: 50px;
    height: 50px;
    content: "";

    border-radius: 50%;
    background-color: $color-main;
  }

  &::after {
    position: absolute;

    display: block;
    content: "";

    background-repeat: no-repeat;
    background-size: contain;
  }
}

.program__description {
  margin: 0;
  margin-bottom: 18px;
  padding-bottom: 21px;

  border-bottom: 1px solid $color-gray-217;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 77px 275px 56px 52px;

    &--slim {
      .program__title {
        &::after {
          top: 81px;
          right: 91px;
          left: auto;

          width: 140px;
          height: 192px;
        }
      }
    }

    &--pro {
      .program__title {
        &::after {
          top: 136px;
          right: 29px;
          left: auto;

          width: 268px;
          height: 112px;
        }
      }
    }
  }

  .program__title {
    margin-bottom: 24px;
    padding-left: 0;

    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 92px;
      right: 61px;
      left: auto;

      width: 200px;
      height: 200px;
    }
  }

  .program__description {
    margin-bottom: 52px;
    padding: 0;

    color: $color-black;

    border: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .program {
    position: relative;

    &--pro {
      padding-right: 315px;
    }
  }

  .program__title {
    position: static;
  }

  .program__description {
    min-height: 96px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-right: 50px;
    padding-bottom: 58px;

    &--slim {
      .program__title {
        &::after {
          top: -36px;
          right: auto;
          left: 15px;

          width: 70px;
          height: 97px;
        }
      }
    }

    &--pro {
      .program__title {
        &::after {
          top: -10px;
          right: auto;
          left: -19px;

          width: 134px;
          height: 100px;
        }
      }
    }
  }

  .program__title {
    margin-bottom: 74px;
    padding-left: 162px;

    &::before {
      top: -30px;
      right: auto;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }

  .program__description {
    margin-bottom: 26px;
  }

  .program__link {
    margin-top: auto;
  }
}
