.promo-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 65px 55px 43px;
  width: 280px;
  min-height: 289px;

  @include font (16px, 20px, 400);
  text-align: center;
  color: $color-white;

  background-color: $color-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    display: block;
    width: 56px;
    height: 60px;
    content: "";

    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;

    transition: transform 0.3s;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scale(1.2);
    }
  }

  &:active {
    &::before {
      transform: scale(0.8);
    }
  }
}

.promo-card__title {
  margin: 0;

  font: inherit;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .promo-card {
    flex-direction: row;

    padding: 30px 17% 30px 12.5%;
    width: 100%;
    min-height: 200px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .promo-card__title {
    width: 165px;
  }
}

@media (min-width: $desktop-width) {
  .promo-card {
    padding: 65px 40px 43px;
    width: 245px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}
