.promo-card {
  position: relative;

  display: block;
  padding: 186px 55px 43px;
  width: 280px;
  min-height: 289px;

  @include font (16px, 20px, 400);
  text-align: center;
  color: $color-white;

  background-color: $color-main;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$retina} {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: 65px;
    left: 50%;

    display: block;
    width: 56px;
    height: 60px;
    content: "";

    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;

    transform: translateX(-50%);
  }
}

.promo-card__title {
  margin: 0;

  font: inherit;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .promo-card {
    padding: 70px 17% 70px 25%;
    width: 100%;
    min-height: 200px;

    text-align: left;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      top: 50%;
      left: 12.7%;

      transform: translateY(-55%);
    }
  }

  .promo-card__title {
    margin-left: auto;
    width: 165px;
  }
}

@media (min-width: $desktop-width) {
  .promo-card {
    padding-left: 40px;
    padding-right: 40px;
    width: 245px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media #{$retina} {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      transition: transform 0.3s;
    }

    &:hover,
    &:focus {
      &::before {
        transform: translateX(-50%) scale(1.2);
      }
    }

    &:active {
      &::before {
        transform: translateX(-50%) scale(0.8);
      }
    }
  }
}
