.stats__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  @include list-reset;
}

.stats__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 18px;
  width: calc(50% - 16px);
}

.stats__label {
  align-self: center;
  order: 1;

  margin: -8px 15px 0;
  padding: 0 15px;
  max-width: 85px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;

  background-color: $color-gray-234;
}

.stats__value {
  display: block;
  padding: 14px 20px 16px;

  @include font(24px, 24px, 400);
  font-family: $font-secondary;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;

  border: 1px solid $color-gray-205;
  border-radius: 3px;
}

.stats__cost {
  @include font(14px, 20px, 400);
  font-family: $font-secondary;
  text-align: center;
  text-transform: uppercase;
  color: $color-black;
}

.stats__cost-value {
  margin-left: 0.15em;
}

@media (min-width: $tablet-width) {
  .stats {
    display: flex;
    justify-content: space-between;
  }

  .stats__list {
    justify-content: flex-start;

    width: calc(100% - 180px);
  }

  .stats__item {
    margin-right: 42px;
    margin-bottom: 25px;
    width: auto;
    min-width: 162px;
  }

  .stats__label {
    margin: -8px 7px 0;
    padding: 0 8px;
    max-width: none;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-white;
  }

  .stats__value {
    padding: 15px 20px 18px;

    font-size: 30px;
    line-height: 37px;
  }

  .stats__cost {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 12px;
    width: 180px;

    font-size: 20px;
  }

  .stats__cost-label {
    margin-bottom: 9px;
  }

  .stats__cost-value {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    flex-direction: column;
    justify-content: stretch;
  }

  .stats__list {
    width: 100%;
  }

  .stats__label {
    background-color: $color-gray-242;
  }

  .stats__cost {
    flex-direction: row;
    align-items: baseline;

    padding-top: 30px;
    width: 366px;
  }

  .stats__cost-label {
    margin-bottom: 0;
    width: 50%;

    text-align: left;
  }

  .stats__cost-value {
    padding-left: 17px;
    width: 50%;
  }
}
