.sup-products {
  padding-top: 27px;
  padding-bottom: 35px;
}

.sup-products__title {
  margin-bottom: 33px;
}

.sup-products__list {
  @include list-reset;

  margin-bottom: 39px;
}

.sup-products__item {
  + .sup-products__item {
    margin-top: -1px;
  }
}

