.sup-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 13px 0 17px;

  @include font(14px, 14px, 400);

  border-top: 1px solid $color-gray-205;
  border-bottom: 1px solid $color-gray-205;
}

.sup-product__title {
  margin-top: 0;
  margin-bottom: 13px;
  width: 100%;

  @include font(16px, 16px, 400);
  font-family: $font-secondary;
  text-transform: uppercase;
  color: $color-gray-34;
}

.sup-product__title-link {
  color: inherit;

  transition: opacity 0.3s;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.sup-product__amount {
  padding-right: 15px;
  width: 70%;
}

.sup-product__price {
  width: 30%;

  text-align: right;
}

.sup-product__btn {
  margin-top: 15px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .sup-product {
    align-items: flex-start;

    padding: 25px 37px 27px;

    font-size: 16px;
    line-height: 20px;

    border-left: 1px solid $color-gray-205;
    border-right: 1px solid $color-gray-205;
  }

  .sup-product__title {
    margin-bottom: 0;
    padding-right: 15px;
    width: 47.5%;

    font-size: 20px;
    line-height: 20px;
  }

  .sup-product__amount {
    margin-top: 3px;
    width: 40%;

    text-align: right;
  }

  .sup-product__price {
    margin-top: 3px;
    width: 12.5%;

    text-align: right;
  }

  .sup-product__btn {
    margin-top: 23px;
  }
}

@media (min-width: $desktop-width) {
  .sup-product {
    padding: 15px 0 16px;

    border-left: none;
    border-right: none;
  }

  .sup-product__title {
    margin-top: 11px;
    padding-right: 15px;
    width: 36.3%;
  }

  .sup-product__amount {
    margin-top: 13px;
    width: 27.1%;

    text-align: left;
  }

  .sup-product__price {
    margin-top: 13px;
    padding-right: 10px;
    width: 9.2%;

    text-align: left;
  }

  .sup-product__btn {
    margin-top: 0;
    width: 27.4%;
  }
}
