.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
}

@media (max-width: $tablet-width - 1px) {
  .container {
    &--no-padding-mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .container {
    max-width: $tablet-max-width;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    max-width: $desktop-width;
  }
}
