.subtitle {
  position: relative;

  display: inline-block;
  margin: 0;
  padding-right: $subtitle-padding-mobile;

  @include font(24px, 26px, 400);
  font-family: $font-secondary;
  color: $color-black;
  vertical-align: top;
  text-transform: none;

  &::before,
  &::after {
    position: absolute;
    top: 16px;
    z-index: -1;

    display: block;
    width: 100vw;
    height: 2px;
    content: "";

    background-color: $color-main;
  }

  &::before {
    left: 100%;
  }

  &::after {
    right: 100%;
    display: none;
  }
}

.subtitle__bottom {
  display: block;
}

@media (min-width: $tablet-width) {
  .subtitle {
    padding-right: $subtitle-padding-tablet;
    padding-left: $subtitle-padding-tablet;

    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      top: 22px;
    }

    &::after {
      display: block;
    }
  }

  .subtitle__bottom {
    display: inline;
    margin-left: 0.2em;
  }
}

@media (min-width: $desktop-width) {
  .subtitle {
    margin-left: -$subtitle-padding-desktop;
    padding-right: $subtitle-padding-desktop;
    padding-left: $subtitle-padding-desktop;
  }
}
