.subtitle {
  display: inline-block;
  margin: 0;
  padding-right: 22px;

  @include font(24px, 26px, 400);
  font-family: $font-secondary;
  color: $color-black;
  vertical-align: top;
  text-transform: none;

  background-color: $color-white;
}

.subtitle__bottom {
  display: block;
}

@media (min-width: $tablet-width) {
  .subtitle {
    padding-right: 38px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .subtitle {
    margin-left: -40px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
